<div class="row m-3">
  <div class="col ">
    <div class="row border-bottom pb-2 mb-3 mx-0">
      <div class="col px-0">
        <h1>Manage Accounts</h1>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-brand" >New Account</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <app-account-list></app-account-list>
      </div>
      <div class="col-md-8">
        <app-account 
        *ngIf="selectedAccount; else infoText"
        [account]="selectedAccount"
        ></app-account>
        <ng-template #infoText>
          <div class="alert alert-warning">
            Please select an Account
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>