<div class="row">
  <div class="col-10">
    <h2>
      {{ account.name }} (#{{ account.id+1 }})
      <small class="badge" [ngClass]="{'badge-success': account.status, 'badge-warning': !account.status }">{{ account.status ? 'Active' : 'Inactive' }}</small>
    </h2>
  </div>
  <div class="col-2 text-right">
    <button class="btn btn-brand" (click)="edit();">Edit</button>
  </div>
</div>
<hr>
<p>{{ account.created | date:'fullDate' }} </p>
<p>{{ account.email }}
</p>
<p> {{ account.phone }}
</p>
<button class="btn btn-primary" (click)="addToList()">To Email List</button>
