<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
  <!-- fixed-top -->
  <a class="navbar-brand" routerLink="/">
    <img src="assets/nawadarat-logo-mark.png" alt=""> Nawadarat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-iten">
        <a class="nav-link" routerLink="/accounts" routerLinkActive="active">Accounts</a>
      </li>
      <li class="navbar-iten">
        <a class="nav-link" routerLink="/todo" routerLinkActive="active">To Do</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdownToggle>
        <a class="nav-link dropdown-toggle" >Manage</a>
        <div class="dropdown-menu dropdown-menu-right" >
          <a class="dropdown-item" >My Profile</a>
          <a class="dropdown-item" >Settings</a>
          <a class="dropdown-item" >Users</a>
        </div>
      </li>
    </ul>
    <!-- <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>